<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="vradb"
      connectionString="Data Source=(local);
        Initial Catalog=viewridgedb;
        User ID=FeLL1kS;Password=root"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
